body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1704px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:623px;
}
#u826 {
  position:absolute;
  left:0px;
  top:60px;
  width:202px;
  height:623px;
}
#u827 {
  position:absolute;
  left:2px;
  top:304px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1704px;
  height:60px;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:1704px;
  height:60px;
}
#u829 {
  position:absolute;
  left:2px;
  top:22px;
  width:1700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:108px;
  background:inherit;
  background-color:rgba(160, 212, 104, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u830 {
  position:absolute;
  left:228px;
  top:88px;
  width:249px;
  height:108px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u831 {
  position:absolute;
  left:2px;
  top:25px;
  width:245px;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7FAFD5;
}
#u832 {
  position:absolute;
  left:228px;
  top:531px;
  width:141px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7FAFD5;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:58px;
}
#u834 {
  position:absolute;
  left:404px;
  top:97px;
  width:61px;
  height:58px;
}
#u835 {
  position:absolute;
  left:2px;
  top:21px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u836 {
  position:absolute;
  left:228px;
  top:156px;
  width:249px;
  height:40px;
  font-size:18px;
  text-align:left;
}
#u837 {
  position:absolute;
  left:2px;
  top:9px;
  width:245px;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:108px;
  background:inherit;
  background-color:rgba(252, 122, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#F6A092;
  text-align:left;
}
#u838 {
  position:absolute;
  left:534px;
  top:88px;
  width:249px;
  height:108px;
  font-size:24px;
  color:#F6A092;
  text-align:left;
}
#u839 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u840 {
  position:absolute;
  left:534px;
  top:156px;
  width:249px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u841 {
  position:absolute;
  left:2px;
  top:9px;
  width:245px;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:58px;
}
#u842 {
  position:absolute;
  left:700px;
  top:97px;
  width:61px;
  height:58px;
}
#u843 {
  position:absolute;
  left:2px;
  top:21px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u844 {
  position:absolute;
  left:252px;
  top:627px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
}
#u846 {
  position:absolute;
  left:329px;
  top:623px;
  width:69px;
  height:23px;
}
#u847 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u848 {
  position:absolute;
  left:417px;
  top:623px;
  width:51px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u850 {
  position:absolute;
  left:268px;
  top:664px;
  width:42px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u852 {
  position:absolute;
  left:329px;
  top:659px;
  width:32px;
  height:23px;
}
#u853 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u854 {
  position:absolute;
  left:371px;
  top:659px;
  width:40px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:2px;
}
#u856 {
  position:absolute;
  left:224px;
  top:581px;
  width:214px;
  height:1px;
}
#u857 {
  position:absolute;
  left:2px;
  top:-8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7FAFD5;
}
#u858 {
  position:absolute;
  left:228px;
  top:721px;
  width:197px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7FAFD5;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:2px;
}
#u860 {
  position:absolute;
  left:224px;
  top:771px;
  width:197px;
  height:1px;
}
#u861 {
  position:absolute;
  left:2px;
  top:-8px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7FAFD5;
}
#u862 {
  position:absolute;
  left:724px;
  top:531px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7FAFD5;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u864 {
  position:absolute;
  left:740px;
  top:627px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u866 {
  position:absolute;
  left:820px;
  top:623px;
  width:42px;
  height:23px;
}
#u867 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u868 {
  position:absolute;
  left:879px;
  top:625px;
  width:40px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u870 {
  position:absolute;
  left:756px;
  top:664px;
  width:42px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u872 {
  position:absolute;
  left:820px;
  top:659px;
  width:32px;
  height:23px;
}
#u873 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u874 {
  position:absolute;
  left:865px;
  top:659px;
  width:30px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:2px;
}
#u876 {
  position:absolute;
  left:715px;
  top:581px;
  width:214px;
  height:1px;
}
#u877 {
  position:absolute;
  left:2px;
  top:-8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7FAFD5;
}
#u878 {
  position:absolute;
  left:1130px;
  top:531px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7FAFD5;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u880 {
  position:absolute;
  left:1143px;
  top:627px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
}
#u882 {
  position:absolute;
  left:1226px;
  top:623px;
  width:56px;
  height:23px;
}
#u883 {
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u884 {
  position:absolute;
  left:1293px;
  top:625px;
  width:40px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u886 {
  position:absolute;
  left:1160px;
  top:664px;
  width:42px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A7ACB2;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:23px;
}
#u888 {
  position:absolute;
  left:1226px;
  top:659px;
  width:32px;
  height:23px;
}
#u889 {
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u890 {
  position:absolute;
  left:1268px;
  top:659px;
  width:30px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#A7ACB2;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:2px;
}
#u892 {
  position:absolute;
  left:1121px;
  top:581px;
  width:214px;
  height:1px;
}
#u893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u894 {
  position:absolute;
  left:196px;
  top:168px;
  width:22px;
  height:16px;
}
#u895 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u896 {
  position:absolute;
  left:229px;
  top:206px;
  width:150px;
  height:18px;
  color:#FF0000;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u898 {
  position:absolute;
  left:502px;
  top:168px;
  width:22px;
  height:16px;
}
#u899 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u900 {
  position:absolute;
  left:559px;
  top:222px;
  width:222px;
  height:18px;
  color:#FF0000;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书 Bold', '隶书 Regular', '隶书';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u902 {
  position:absolute;
  left:442px;
  top:805px;
  width:283px;
  height:30px;
  font-family:'隶书 Bold', '隶书 Regular', '隶书';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:322px;
}
#u904 {
  position:absolute;
  left:464px;
  top:849px;
  width:246px;
  height:322px;
}
#u905 {
  position:absolute;
  left:2px;
  top:153px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:108px;
  background:inherit;
  background-color:rgba(246, 203, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u906 {
  position:absolute;
  left:844px;
  top:88px;
  width:249px;
  height:108px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u907 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u908 {
  position:absolute;
  left:844px;
  top:156px;
  width:249px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u909 {
  position:absolute;
  left:2px;
  top:9px;
  width:245px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:60px;
}
#u910 {
  position:absolute;
  left:975px;
  top:96px;
  width:106px;
  height:60px;
}
#u911 {
  position:absolute;
  left:2px;
  top:22px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:108px;
  background:inherit;
  background-color:rgba(245, 181, 143, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u912 {
  position:absolute;
  left:1153px;
  top:88px;
  width:249px;
  height:108px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u913 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u914 {
  position:absolute;
  left:1153px;
  top:156px;
  width:249px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u915 {
  position:absolute;
  left:2px;
  top:9px;
  width:245px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u916 {
  position:absolute;
  left:1320px;
  top:103px;
  width:48px;
  height:48px;
}
#u917 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u918 {
  position:absolute;
  left:804px;
  top:168px;
  width:22px;
  height:16px;
}
#u919 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u920 {
  position:absolute;
  left:864px;
  top:222px;
  width:188px;
  height:18px;
  color:#FF0000;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u922 {
  position:absolute;
  left:1121px;
  top:168px;
  width:22px;
  height:16px;
}
#u923 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u924 {
  position:absolute;
  left:1181px;
  top:206px;
  width:188px;
  height:35px;
  color:#FF0000;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u926 {
  position:absolute;
  left:431px;
  top:730px;
  width:22px;
  height:16px;
}
#u927 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u928 {
  position:absolute;
  left:470px;
  top:728px;
  width:313px;
  height:18px;
  color:#FF0000;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u930 {
  position:absolute;
  left:559px;
  top:201px;
  width:188px;
  height:18px;
  color:#FF0000;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7FAFD5;
}
#u932 {
  position:absolute;
  left:227px;
  top:275px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#7FAFD5;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:113px;
}
#u934 {
  position:absolute;
  left:236px;
  top:336px;
  width:162px;
  height:113px;
  color:#FFFFFF;
  text-align:left;
}
#u935 {
  position:absolute;
  left:2px;
  top:2px;
  width:158px;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u936 {
  position:absolute;
  left:309px;
  top:388px;
  width:12px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u938 {
  position:absolute;
  left:296px;
  top:420px;
  width:90px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u940 {
  position:absolute;
  left:523px;
  top:388px;
  width:12px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u942 {
  position:absolute;
  left:510px;
  top:420px;
  width:90px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:113px;
}
#u944 {
  position:absolute;
  left:567px;
  top:337px;
  width:162px;
  height:113px;
  color:#FFFFFF;
  text-align:left;
}
#u945 {
  position:absolute;
  left:2px;
  top:2px;
  width:158px;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u946 {
  position:absolute;
  left:628px;
  top:388px;
  width:12px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u948 {
  position:absolute;
  left:615px;
  top:420px;
  width:90px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:995px;
  top:388px;
  width:12px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u952 {
  position:absolute;
  left:982px;
  top:420px;
  width:90px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u954 {
  position:absolute;
  left:241px;
  top:454px;
  width:334px;
  height:53px;
  color:#FF0000;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  white-space:nowrap;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u956 {
  position:absolute;
  left:216px;
  top:387px;
  width:22px;
  height:16px;
}
#u957 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u958 {
  position:absolute;
  left:589px;
  top:392px;
  width:22px;
  height:16px;
}
#u959 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u960 {
  position:absolute;
  left:1235px;
  top:388px;
  width:12px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u962 {
  position:absolute;
  left:1474px;
  top:388px;
  width:12px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1188px;
  height:2px;
}
#u964 {
  position:absolute;
  left:225px;
  top:311px;
  width:1187px;
  height:1px;
}
#u965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u966 {
  position:absolute;
  left:864px;
  top:201px;
  width:188px;
  height:18px;
  color:#FF0000;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u968 {
  position:absolute;
  left:196px;
  top:292px;
  width:22px;
  height:16px;
}
#u969 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u970 {
  position:absolute;
  left:228px;
  top:312px;
  width:102px;
  height:18px;
  color:#FF0000;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u972 {
  position:absolute;
  left:739px;
  top:358px;
  width:334px;
  height:53px;
  color:#FF0000;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  white-space:nowrap;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u974 {
  position:absolute;
  left:228px;
  top:564px;
  width:131px;
  height:18px;
  color:#FF0000;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u976 {
  position:absolute;
  left:206px;
  top:540px;
  width:22px;
  height:16px;
}
#u977 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u978 {
  position:absolute;
  left:220px;
  top:629px;
  width:22px;
  height:16px;
}
#u979 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
}
#u980 {
  position:absolute;
  left:228px;
  top:601px;
  width:116px;
  height:18px;
  color:#FF0000;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u982 {
  position:absolute;
  left:747px;
  top:812px;
  width:22px;
  height:16px;
}
#u983 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u984 {
  position:absolute;
  left:672px;
  top:845px;
  width:188px;
  height:18px;
  color:#FF0000;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
